# Default behavior: automatically handle line endings
* text=auto

# Shell scripts should use LF and be executable
*.sh text eol=lf
bin/*.sh text eol=lf executable

# Batch files should use CRLF
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
bin/*.bat text eol=crlf
